*{
    margin: 0px;
    padding: 0px;
}

.logo{
    height: 4rem;
    width: 4rem;
    margin-left: -5rem;
  
}
.links{
    border: 1px solid black;
    display: flex;
    align-items: center;
    font-size: 2rem;
    
    background-color: rgba(219, 104, 9, 0.615);
    justify-content: space-evenly;
}